body {
  font-family: "Rubik", sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(10, 27, 56, 0.9)
    ),
    url(../assets/bg-image.jpg);
  background-size: cover;

  color: #fff;
}

.container {
  width: 600px;
  margin: 0 auto;
  height: 100vh;
}

/* BACKGROUND COLOR */
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: black;
}

/* FLEX */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* GAP */
.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

/* POSITION */
.center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.mb-32 {
  margin-bottom: 32px;
}

/* IMAGE */
.about-img {
  width: 124px;
  height: 124px;
}

/* ROUNDED */
.rounded {
  border-radius: 50%;
}

/* TEXT */
.bold {
  font-weight: 700;
}

.text-primary {
  font-size: 40px;
}

.text-secondary {
  font-size: 20px;
  line-height: 1.5;
}

/* BUTTON */
.links {
  display: grid;
  text-decoration: none;
}

.btn {
  width: 240px;
  padding: 12px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;

  background-color: white;
  color: black;
}

.btn:hover {
  background-color: #264653;
  color: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
}

footer {
  text-align: center;
}
